/.devcontainer/.env
*.pyc
__pycache__/
/.venv
.env
.DS_Storepackage-lock.yml

# VS Code and devcontainer
.vscode/
.devcontainer/


# DBT packages and logs
logs/
dbt_packages/
target/

# Editor state
.cursor/
dbt_internal_packages/
